<ion-modal-view>
	<ion-header-bar class="f4t-blue">
		<button class="button icon-left button-clear" style="color:white;" ng-click="leaveUrgentDelete()">Close</button>
		<h1 class="title" style="color:white;">Are you sure?</h1>
	</ion-header-bar>

	<ion-content has-header="true">
		<br>
		<center>
			<h1 style="font-size:20px;">Notification To Delete</h1>
			<p>{{tmpUrgentDelete.description}}</p>
			<button class="button button-assertive" ng-click="leaveUrgentDelete()">Cancel</button>
			<button class="button button-balanced" ng-click="removeUrgent(tmpConfirmDelete)">Delete</button>
		</center>
	</ion-content>
</ion-modal-view>