<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">New Notification</h1>
  </ion-header-bar>
  	<ion-content>
			<div ng-controller="NotificationsCtrl">
			<form ng-submit="createUrgent(notification)">
				<label class="item item-input">
					<input type="text" placeholder="Notification Information" ng-model="notification.title">
				</label>
				<div class="padding">
					<button type="submit" class="button button-block button-positive">Create Urgent Notification</button>
				</div>
			</form>
			<ion-list>
				<ion-item ng-repeat="notification in notificationsUrgent">
					{{notification.title}}
				</ion-item>
			</ion-list>
		</div>
		<div ng-controller="NotificationsCtrl">
			<form ng-submit="createInfo(notification)">
				<label class="item item-input">
					<input type="text" placeholder="Notification Information" ng-model="notification.title">
				</label>
				<div class="padding">
					<button type="submit" class="button button-block button-positive">Create Informational Notification</button>
				</div>
			</form>
			<ion-list>
				<ion-item ng-repeat="notification in notificationsInfo">
					{{notification.title}}
				</ion-item>
			</ion-list>
		</div>
	</ion-content></ion-modal-view>
