<ion-modal-view>
	<ion-header-bar class="f4t-blue">
		<button class="button icon-left button-clear" style="color:white;" ng-click="leaveTimeModal()">Close</button>
		<h1 class="title" style="color:white;">Add Time</h1>
	</ion-header-bar>

	<ion-content has-header="true">
		<form name="form" ng-model="form">
			<div class="list">
				<label class="item item-input item-select">
					<div class="input-label">
						Location
					</div>
					<select name="loc" ng-model="loc" required>
						<option ng-repeat="loc in locations">{{loc.name}}</option>
					</select>
				</label>
				<!--
		<label class="item item-input">
		<input type="text" placeholder="Location" name="loc" ng-model="loc" required />
		</label>
				-->
				<label class="item item-input">
					<input type="date" name="date" ng-model="date">
				</label>
				<label class="item item-input">
					<input type="time" name="time" ng-model="time">
				</label>
				<ion-button ng-show="timeAction == 'add'" ng-init="saveEmpty(form)" class="button button-block button-positive" ng-click="addTime(form)">
					Add
				</ion-button>
				<ion-button ng-show="timeAction == 'change'" class="button button-block button-positive" ng-click="editTime(form)">
					Edit
				</ion-button>
			</div>
		</form>
	</ion-content>
</ion-view>
