<ion-modal-view>
	<ion-header-bar class="f4t-blue">
		<button class="button icon-left button-clear" style="color:white;" ng-click="leaveAddChangeUrgent()">Close</button>
		<h1 class="title" style="color:white">Add item</h1>
	</ion-header-bar>

	<ion-content has-header="true">
		<form name="form" ng-model="form">
			<ion-list>
				<li class="item item-input item-stacked-label">
					<span class="input-label">Description</span>
					<input type="text" placeholder="Urgent Notification Content" name="description" ng-model="description" required />        
				</li>
				<ion-button ng-show="urgentAction == 'add'" ng-init="urgentSaveEmpty(form)" class="button button-block button-positive" ng-click="addUrgent(form)">
					Add
				</ion-button>
				<ion-button ng-show="urgentAction == 'change'" class="button button-block button-positive" ng-click="editUrgent(form)">
					Edit
				</ion-button>
			</ion-list>
		</form>
	</ion-content>

	</div>
