<ion-view view-title="Manage Notifications">
	<ion-nav-bar class="f4t-blue"></ion-nav-bar>
	<ion-content>
		<div class="card">
		  <div class="item item-text-wrap" ng-click="">
			<p><strong>URGENT</strong><p>
			<p>12/12/16</p>
			<p>No school today, stay home!<p>
		  </div>
		  <div class="item item-text-wrap" ng-click="">
			<p>1/1/17</p>
			<p>Happy New Year!<p>
		  </div>
		</div>

		<div class="card">
			<div class="item item-text-wrap" ng-click="">
				<p>Add a Time</p>
			</div>
		</div>

	</ion-content>
</ion-view>
