<ion-view view-title="Welcome">
<ion-nav-view name="main"></ion-nav-view>
	<ion-nav-bar class="f4t-blue"></ion-nav-bar>
	<div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">First Name</span>
          <input type="text" ng-model="userData.firstName">
        </label>
        <label class="item item-input">
          <span class="input-label">Last Name</span>
          <input type="text" ng-model="userData.lastName">
        </label>
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="text" ng-model="userData.email">
        </label>
        <label class="item item-input">
          <span class="input-label">Phone</span>
          <input type="text" ng-model="userData.phoneNumber">
        </label>
	  </div>
    </form>
<a class="button button-block button-positive" type="button" ng-click="testFunc()">Log in</a>

  </ion-content>
</ion-view>
