<ion-view view-title="Welcome">
<ion-nav-view name="main"></ion-nav-view>
	<ion-nav-bar class="f4t-blue"></ion-nav-bar>
  <ion-content>
    <form ng-submit="console.log('sdfsdfs')">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">First Name</span>
          <input type="text" ng-model="userData.firstName">
        </label>
        <label class="item item-input">
          <span class="input-label">Last Name</span>
          <input type="text" ng-model="userData.lastName">
        </label>
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="text" ng-model="userData.email">
        </label>
        <label class="item item-input">
          <span class="input-label">Phone</span>
          <input type="text" ng-model="userData.phoneNumber">
        </label>
		<label class="item">
          <button class="button button-block button-positive" type="submit">Log in</button>
        </label>
	  </div>
    </form>

  </ion-content>
</ion-view>
