<ion-view view-title="Settings">
	<ion-content>
		<ul class="list">
			<a class="item" href="asdf">
				Information
			</a>

			<li class="item item-toggle">
				Location Services
				<label class="toggle toggle-balanced">
					<input type="checkbox">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
			</li>

			<li class="item item-toggle">
				Automatic Check-in
				<label class="toggle toggle-balanced">
					<input type="checkbox">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
			</li>

			<a class="item" href="asdf">
				Logout
			</a>
		</ul>
	</ion-content>
</ion-view>
