<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Sign In!</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <br>
    <center><font size = "5">Are You Ready to Start Your Shift?<font></center>
    <br><br><br>
    <center>
	    <div class="button-bar">
	       <button class="button button-large" ng-click="closeStart()">
	           Yes! Let's get going!
	       </button>
			   <button class="button button-large" ng-click="closeStart()">
				    No! Just a few more minutes!
			   </button>
	    </div>
	</center>
  </ion-content>
</ion-modal-view>
