<ion-modal-view>
	<ion-header-bar class="f4t-blue">
		<button class="button icon-left button-clear" style="color:white;" ng-click="leaveCheckIn()">Close</button>
		<h1 class="title" style="color:white;">Check In!</h1>
	</ion-header-bar>

	<ion-content has-header="true">
		<br>
		<center>
			<h1 style="font-size:20px;">Selected Shift</h1>
			<p>{{tmpItem.locName}} {{tmpItem.date | date:'MM-dd-yyyy'}} {{tmpItem.time | date:'HH:mm a'}}</p>
			<button class="button button-assertive" ng-click="leaveCheckIn()">Cancel</button>
			<button class="button button-balanced">Check In</button>
		</center>
	</ion-content>
</ion-modal-view>
