<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Sign In!</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <br>
    <center><font size = "5">How would you like to check in?<font></center>
    <br><br><br>
    <center>
	    <div class="button-bar">
		   <button class="button button-large" ng-click="closeStart()">Cancel</button>
	       <button class="button button-large" ng-click="closeStart()">QR Code</button>
		   <button class="button button-large" ng-click="closeStart()">Choose a Location</button>
	    </div>
	</center>
  </ion-content>
</ion-modal-view>
