<ion-view view-title="Admin">
<ion-nav-view name="main"></ion-nav-view>
	<ion-nav-bar class="f4t-blue"></ion-nav-bar>
	<ion-content class="f4t-water">
		<ion-list>
		  <ion-item ui-sref="tab.admin-checkin">
		  	Check In
		  </ion-item>
		  <ion-item ui-sref="tab.admin-notifications">
		  	Notifications
		  </ion-item>
		  <ion-item ui-sref="tab.admin-locations">
		  	Manage Locations
		  </ion-item>
		  <ion-item ui-sref="tab.admin-times">
		  	Manage Times
		  </ion-item>
		</ion-list>
	</ion-content>
</ion-view>
