<ion-view view-title="Notifications">
	<ion-nav-bar class="f4t-yellow"></ion-nav-bar>
	<ion-content class="f4t-water">
		<div class="list card">

			<ion-list ng-controller="NotificationsCtrl">
				<ion-item class="item item-divider f4t-red" style="text-align:center">

					urgent!
				</ion-item>
				<ion-item class="item item-text-wrap" ng-repeat="item in urgent">
					{{item.description}}
				</ion-item>
			</ion-list>
		</div>
		<div class="list card">
			<ion-list>
				<ion-item class="item item-divider" style="text-align:center; background-color:black; color:white;">
					other...
				</ion-item>
				<ion-item class="item item-text-wrap" ng-repeat="item in info">
					{{item.description}}
				</ion-item>
			</ion-list>
		</div>
	</ion-content>
</ion-view>
