<ion-view view-title="New Shifts">
	<ion-nav-bar class="nav-view-home"></ion-nav-bar>
	<ion-content>
		<form ng-submit="createTask(task)">
			<div class="list">
				<label class="item item-input">
					<input type="text" placeholder="Location" ng-model="task.taskLocation">
				</label>
				<label class="item item-input">
					<input type="date", ng-model="task.taskDate">
				</label>
				<label class="item item-input">
					<input type="text", placeholder="Organization" ng-model="task.taskOrg">
				</label>
			</div>
			<div class="padding">
				<button type="submit" class="button button-block button-positive">Create Task</button>
			</div>
		</form>
		<ion-list>
			<ion-item ng-repeat="task in tasks">
				{{task.taskLocation}} {{task.taskDate}} {{task.taskOrg}}
			</ion-item>
		</ion-list>
		<div ng-controller="NotificationsCtrl">
			<form ng-submit="createUrgent(notification)">
				<label class="item item-input">
					<input type="text" placeholder="Notification Information" ng-model="notification.title">
				</label>
				<div class="padding">
					<button type="submit" class="button button-block button-positive">Create Urgent Notification</button>
				</div>
			</form>
			<ion-list>
				<ion-item ng-repeat="notification in notificationsUrgent">
					{{notification.title}}
				</ion-item>
			</ion-list>
		</div>
		<div ng-controller="NotificationsCtrl">
			<form ng-submit="createInfo(notification)">
				<label class="item item-input">
					<input type="text" placeholder="I Notification Information" ng-model="notification.title">
				</label>
				<div class="padding">
					<button type="submit" class="button button-block button-positive">Create Informational Notification</button>
				</div>
			</form>
			<ion-list>
				<ion-item ng-repeat="notification in notificationsInfo">
					{{notification.title}}
				</ion-item>
			</ion-list>
		</div>
	</ion-content>
</ion-view>
