<ion-view view-title="Home">
	<ion-nav-bar class="nav-view-home"></ion-nav-bar>
	<ion-content>
		<br>
		<div class="list list-inset">
			<ion-list>
				<ion-item class="item item-divider nav-view-set" style="text-align:center;">
					Your Shifts
				</ion-item>
				<ion-item class="item-divider row">
					<div class="col col-25">Date</div>
					<div class="col col-40">Location</div>
					<div class="col col-35">Organization</div>
				</ion-item>
				<ion-item class="row">
					<div class="col col-25">2/24/17</div>
					<div class="col col-40">Metro Campus</div>
					<div class="col col-35">Food4Thought</div>
				</ion-item>
				<ion-item class="row">
					<div class="col col-25">3/19/17</div>
					<div class="col col-40">Metro Campus</div>
					<div class="col col-35">Food4Thought</div>
				</ion-item>
				<ion-item class="row">
					<div class="col col-25">4/21/17</div>
					<div class="col col-40">Golden Church</div>
					<div class="col col-35">Golden Backpack</div>
				</ion-list>
		</div>
		<br>
		<center>
			<ion-item class="button button-dark" ng-click="openModal(1)">
				Sign up to volunteer!
			</ion-item>
			<br><br><br>
			<ion-item class="button button-assertive" ng-click="openModal(2)">
				Check In
			</ion-item>
		</center>
			</ion-content>
	</ion-view>
