<ion-view view-title="Notifications">
	<ion-nav-bar class="f4t-yellow"></ion-nav-bar>
	<ion-content class="f4t-water">
		<div class="list card">

			<ion-list ng-controller="NotificationsCtrl">
				<ion-item class="item item-divider f4t-red" style="text-align:center">

					urgent!
				</ion-item>
				<ion-item ng-repeat="notification in notifications">
					{{notification.title}}
				</ion-item>
			</ion-list>
		</div>
		<div class="list card">
			<ion-list>
				<ion-item class="item item-divider f4t-blue" style="text-align:center;">
					other...
				</ion-item>
				<ion-item class="item">
					something informative and cool, yay kids!
				</ion-item>
			</ion-list>
		</div>
	</ion-content>
</ion-view>
