<ion-view view-title="Info">
<ion-nav-view name="main"></ion-nav-view>
	<ion-nav-bar class="f4t-blue"></ion-nav-bar>
	<ion-content class="f4t-water">
		<br><br><br>
		<center>
			<font size=+3>What We Do</font>
			<br><br><br>
			<p style="margin-left: 10%; margin-right: 10%;">
				During the school week, children from low-income families in Denver Public Schools receive free and reduced lunches at school. Often the lunch they receive at school on Friday is the last meal they eat until they arrive back at school on Monday. Teachers and Principals report that many students come to school on Monday mornings hungry, complaining of stomachaches, headaches and unable to focus and learn.
				<br><br>
				Food For Thought strives to eliminate this problem by providing a PowerSack to each student to take home for the weekend.
			</p>
			<br>	
			<a href="https://donatenow.networkforgood.org/foodforthoughtdenver?code=Website%20Donations" class="button button-dark">Donate</a>
			<br><br><br>
			<font size=+2>
				<p style="margin-left: 10%; margin-right: 10%;">
				For more info, visit our full site:
				</p>
			</font>
			<br>
			<a href="http://foodforthoughtdenver.org/" class="button button-dark">Full Site</a>
			<br><br><br>
			<div class="button-bar">
				<a href="https://www.facebook.com/FoodForThoughtDenver/" class="button"><i class="icon ion-social-facebook"></i></a>
				<a href="https://twitter.com/FFT_Denver" class="button"><i class="icon ion-social-twitter"></i></a>
				<a href="https://www.linkedin.com/company/food-for-thought---denver" class="button"><i class="icon ion-social-linkedin"></i></a>
				<a href="https://www.instagram.com/foodforthoughtdenver/" class="button"><i class="icon ion-social-instagram"></i></a>
				<a href="https://www.youtube.com/user/FoodForThoughtDenver" class="button"><i class="icon ion-social-youtube"></i></a>
			</div>
		</center>
	</ion-content>
</ion-view>
