/* Empty. Add your own CSS if you like */

.f4t-red {
	background-color:#bf101a;
	color:white;
}
.f4t-yellow {
	background-color:#e7a101;
	color:white;
}
.f4t-blue {
	background-color:#47628f;
	color:white;
}

.center-text {
	text-align: center;
}


