<ion-view view-title="Organization">
  <ion-content>
    <br>
    <center>Your Shifts</center>
    <div class="list list-inset">
      <div class="item">
        Shift1
      </div>
      <div class="item">
        Shift2
      </div>
    </div>

    <center>
      <button class="button button-stable">
        Need a shift? Sign up!
      </button>
      <br><br><br>
      <button class="button button-dark">
        Check in!
      </button>
    </center>
  </ion-content>

  <a href="https://donatenow.networkforgood.org/foodforthoughtdenver?code=Website%20Donations">
    <div class="bar bar-footer bar-balanced">
      <div class="title">Donate!</div>
    </div>
  </a>
</ion-view>
