<ion-view view-title="Manage Notifications">
	<ion-nav-view animation="slide-left-right"></ion-nav-view>
	<ion-nav-bar class="f4t-blue">
		<ion-nav-buttons>
			<button class="button button-light icon ion-ios-arrow-back" ui-sref="tab.admin">
			</button>
		</ion-nav-buttons>
	</ion-nav-bar>

	<ion-content ng-controller="NotificationsCtrl">
		<div class="list card">
			<ion-list>
				<ion-item class="item item-divider f4t-red row" style="text-align:center;">
					<div class="col col-80" style="padding-top:15px;">Urgent Notifications</div>
					<button class="icon ion-ios-plus-outline col col-20 button f4t-red" ng-click="showAddChangeUrgent('add')"></button>
				</ion-item>
				<ion-item ng-if="urgent.length == 0">
					Press <i class="icon ion-ios-plus-outline"></i> to add item
				</ion-item>
				<ion-item class="item item-text-wrap" ng-repeat="item in urgent">
					<p>{{item.description}}</p>
					<div style="text-align:right;">
						<i class="button button-calm icon ion-edit" on-tap="showEditUrgent(item)"></i>
						<i class="button button-assertive icon ion-trash-a" on-tap="showUrgentDelete(item)"></i>
					</div>
				</ion-item>
			</ion-list>
		</div>
		<div class="list card">
			<ion-list>
				<ion-item class="item item-divider row" style="text-align:center; background-color:black; color:white;">
					<div class="col col-80" style="padding-top:15px;"> Other Notifications </div>
					<button class="icon ion-ios-plus-outline col col-20 button" style="background-color:black; color:white" ng-click="showAddChangeInfo('add')"></button>
				</ion-item>
				<ion-item ng-if="info.length == 0">
					Press <i class="icon ion-ios-plus-outline"></i> to add item
				</ion-item>
				<ion-item class="item item-text-wrap" ng-repeat="item in info">
					{{item.description}}
					<div style="text-align:right;">
						<i class="button button-calm icon ion-edit" on-tap="showEditInfo(item)"></i>
						<i class="button button-assertive icon ion-trash-a" on-tap="showInfoDelete(item)"></i>
					</div>
				</ion-item>
			</ion-list>
		</div>
	</ion-content>
</ion-view>
