<ion-view view-title="New Shifts">
	<ion-nav-view nav-direction="back"></ion-nav-view>
	<ion-nav-bar class="f4t-blue">
		<ion-nav-buttons>
			<button class="button button-light icon ion-ios-arrow-back" ui-sref="tab.admin">
			</button>
		</ion-nav-buttons>
	</ion-nav-bar>

	<ion-content>
		<form ng-submit="createShift(shift)">
			<div class="list">
				<label class="item item-input">
					<input type="text" placeholder="Location" ng-model="shift.loc">
				</label>
				<label class="item item-input">
					<input type="date", ng-model="shift.date">
				</label>
				<label class="item item-input">
					<input type="text", placeholder="Organization" ng-model="shift.organization">
				</label>
			</div>
			<div class="padding">
				<button type="submit" class="button button-block button-positive">Create Task</button>
			</div>
		</form>
		<ion-list>
			<ion-item ng-repeat="task in tasks">
				{{shift.loc}} {{shift.date}} {{shift.organizatoin}}
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
