<ion-view view-title="Check In">

	<ion-nav-bar class="f4t-blue">
	<ion-nav-view nav-direction="back"></ion-nav-view>
	<ion-nav-buttons side="secondary">
		<button class="button button-light icon ion-ios-search-strong" ng-click="showFilterBar()">
		</button>
	</ion-nav-buttons>
	<ion-nav-buttons side="primary">
		<button class="button button-light icon ion-ios-arrow-back" ui-sref="tab.admin">
		</button>


	</ion-nav-buttons>
  	<ion-content direction="y" scrollbar-y="false">

    <ion-refresher pulling-icon="ion-arrow-down-b" on-refresh="refreshItems()">
	</ion-refresher>

	<label id="shiftSelector" ng-hide=!multiShift class="item item-divider item-input item-select">

	</label>

	<ion-refresher on-refresh="doRefresh()"></ion-refresher>
    <ion-list>
		<ion-checkbox collection-repeat="volunteer in uncheckedVolunteers" ng-model="volunteer.selected" class="item-checkbox-right animated">
        {{volunteer.text}}
		</ion-checkbox>
    </ion-list>

    <div ng-if="uncheckedVolunteers !== undefined && !uncheckedVolunteers.length" class="no-results">
      <p>No Results</p>
    </div>


	<div class="item item-divider" ng-class="hide">Checked In</div>
	<ion-list ng-class="hide">
		<ion-item ng-repeat="volunteer in checkedVolunteers">{{volunteer.text}}</ion-item>
	</ion-list>

  </ion-content>

<ion-footer-bar class="footer-bar-custom">
	<a class="footer-bar-item item-center button button-light" ng-click="removeItems()" ng-disabled="(uncheckedVolunteers | filter: volunteer.selected != true).length < 1">Check in Selected</a>
</ion-footer-bar>

</ion-view>
