<ion-view view-title="New Shifts">
	<ion-nav-view nav-direction="back"></ion-nav-view>
	<ion-nav-bar class="f4t-blue">
		<ion-nav-buttons>
			<button class="button button-light icon ion-ios-arrow-back" ui-sref="tab.admin">
			</button>
		</ion-nav-buttons>
	</ion-nav-bar>

	<ion-content>
		<form name="form" ng-model="form" ng-submit="addTime(form)">
			<div class="list">
				<label class="item item-input item-select">
					<div class="input-label">
						Location
					</div>
					<select name="locName" ng-model="locName" required>
						<option ng-repeat="loc in locations">
							{{loc.name}}
						</option>
					</select>
				</label>
				<!--
		<label class="item item-input">
		<input type="text" placeholder="Location" name="loc" ng-model="loc" required />
		</label>
				-->
				<label class="item item-input">
					<input type="date" name="date" ng-model="date">
				</label>
				<label class="item item-input">
					<input type="time" name="time" ng-model="time">
				</label>
			</div>
			<div class="padding">
				<button type="submit" class="button button-block button-positive">Create Task</button>
			</div>
		</form>
		<ion-list>
			<ion-item class="item" ng-repeat="item in shifts" item="item">
				<p>{{item.locName}} {{item.locAddress}} {{item.locCity}} {{item.locState}} {{item.locZipCode}} {{item.date}} {{item.time}}</p>
				<div style="text-align:right;">
					<i class="button button-calm icon ion-trash-a" on-tap="removeTime(item)" on-click="removeTime(item)"></i>
				</div>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
