<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Confirm</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <br>
    <center><font size = "5">Please confirm you would like to work this shift<font></center>
    <br><br><br>
    <center>
	    <div class="button-bar">
	       <button class="button button-large" ng-click="closeConfirmNew()">
	         Yes! Sign Me Up!
	       </button>
			   <button class="button button-large" ng-click="closeConfirmNew()">
				    No! I Need more time to decide!
			   </button>
	    </div>
	</center>
  </ion-content>
</ion-modal-view>