<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Pick a New Shift!</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <center>
      <TABLE style="width: 100%"> 
      <TR>
      <TD COLSPAN="7" ALIGN=center height="45"><B>December 2016</B></TD> 
      </TR>
      <TR> 
      <TD ALIGN=center height="45" ng-click="confirmNew()">Sun</TD>
      <TD ALIGN=center height="45" ng-click="confirmNew()">Mon</TD>
      <TD ALIGN=center height="45" ng-click="confirmNew()">Tue</TD>
      <TD ALIGN=center height="45" ng-click="confirmNew()">Wed</TD>
      <TD ALIGN=center height="45" ng-click="confirmNew()">Thu</TD>
      <TD ALIGN=center height="45" ng-click="confirmNew()">Fri</TD>
      <TD ALIGN=center height="45" ng-click="confirmNew()">Sat</TD>
      </TR>
      <TR> 
      <TD ALIGN=center height="45" ng-click="confirmNew()"></TD>
      <TD ALIGN=center height="45" ng-click="confirmNew()"></TD>
      <TD ALIGN=center height="45" ng-click="confirmNew()"></TD>
      <TD ALIGN=center height="45" ng-click="confirmNew()"></TD>
      <TD ALIGN=center height="45" ng-click="confirmNew()">1</TD>
      <TD ALIGN=center height="45" ng-click="confirmNew()">2</TD>
      <TD ALIGN=center height="45" ng-click="confirmNew()">3</TD>
      </TR>
      <TR> 
      <TD ALIGN=center height="45" ng-click="confirmNew()">4</TD>
      <TD ALIGN=center height="45" ng-click="confirmNew()">5</TD>
      <TD ALIGN=center height="45" ng-click="confirmNew()">6</TD>
      <TD ALIGN=center height="45" ng-click="confirmNew()">7</TD>
      <TD ALIGN=center height="45" ng-click="confirmNew()">8</TD>
      <TD ALIGN=center height="45" ng-click="confirmNew()">9</TD>
      <TD ALIGN=center height="45" ng-click="confirmNew()">10</TD>
      </TR>
      <TR> 
      <TD ALIGN=center height="45" ng-click="confirmNew()">11</TD>
      <TD ALIGN=center height="45" ng-click="confirmNew()">12</TD>
      <TD ALIGN=center height="45" ng-click="confirmNew()">13</TD>
      <TD ALIGN=center height="45" ng-click="confirmNew()">14</TD>
      <TD ALIGN=center height="45" ng-click="confirmNew()">15</TD>
      <TD ALIGN=center height="45" ng-click="confirmNew()">16</TD>
      <TD ALIGN=center height="45" ng-click="confirmNew()">17</TD>
      </TR>
      <TR> 
      <TD ALIGN=center height="45" ng-click="confirmNew()">18</TD>
      <TD ALIGN=center height="45" ng-click="confirmNew()">19</TD>
      <TD ALIGN=center height="45" ng-click="confirmNew()">20</TD>
      <TD ALIGN=center height="45" ng-click="confirmNew()">21</TD>
      <TD ALIGN=center height="45" ng-click="confirmNew()">22</TD>
      <TD ALIGN=center height="45" ng-click="confirmNew()">23</TD>
      <TD ALIGN=center height="45" ng-click="confirmNew()">24</TD>
      </TR>
      <TR> 
      <TD ALIGN=center height="45" ng-click="confirmNew()">25</TD>
      <TD ALIGN=center height="45" ng-click="confirmNew()">26</TD>
      <TD ALIGN=center height="45" ng-click="confirmNew()">27</TD>
      <TD ALIGN=center height="45" ng-click="confirmNew()">28</TD>
      <TD ALIGN=center height="45" ng-click="confirmNew()">29</TD>
      <TD ALIGN=center height="45" ng-click="confirmNew()">30</TD>
      <TD ALIGN=center height="45" ng-click="confirmNew()">31</TD>
      </TR>
      </TABLE>
    </center>
  </ion-content>
</ion-modal-view>