<ion-tabs>

	<!-- Home Tab -->
	<ion-tab class="tabs-icon-top f4t-red" title="Home" icon="ion-home" href="#/tab/home">
		<ion-nav-view name="tab-home"></ion-nav-view>
	</ion-tab>
	<!-- Notifications Tab -->
	<ion-tab class="tabs-icon-top f4t-yellow" title="Notifications" icon="ion-alert-circled" href="#/tab/notifications">
		<ion-nav-view name="tab-notifications"></ion-nav-view>
	</ion-tab>

	<!-- Settings Tab -->
	<ion-tab class="tabs-icon-top f4t-blue" title="Settings" icon="ion-ios-gear" href="#/tab/settings">
		<ion-nav-view name="tab-settings"></ion-nav-view>
	</ion-tab>

	<!-- Admin Tab -->
	<ion-tab class="tabs-icon-top f4t-red" title="Admin" href="#/tab/admin">
		<ion-nav-view name="tab-admin"></ion-nav-view>
	</ion-tab>

</ion-tabs>
